.bloc_item {
    width: 35%;
    height: 250px;
    margin: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    background-color: #1F1F24;
    
        img {
            width: 100%;
            height: 100%;  
            border-radius: 30px; 
            object-fit: cover;
            object-position: top center;
            transition-duration: 400ms;

            &:hover {
                filter: brightness(0.5);
                transition-duration: 400ms;
            }
        }
    }