@import 'common/fonts';
@import 'common/reset';
@import 'common/variables';
@import 'common/global';

@import 'layouts/footer';
@import 'layouts/header';
@import 'layouts/pages';

@import 'components/forms';
@import 'components/projectblocs';