@import 'common/fonts';
@import 'common/global';
@import 'common/reset';
@import 'common/variables';

@import 'layouts/footer';
@import 'layouts/header';
@import 'layouts/pages';
@import 'layouts/posts';