@import 'common/fonts';
@import 'common/reset';
@import 'common/variables';
@import 'common/global';

@import 'layouts/footer';
@import 'layouts/header';
@import 'layouts/home';
@import 'layouts/projects';
@import 'layouts/about';
@import 'layouts/contact';
@import 'layouts/singlepost';

@import 'components/forms';
@import 'components/project';