.page-about {
    width: 100%;
    height: 100%;

    .informations{
        width: 100%;
        min-height: 400px;
        margin: 75px 0;
        padding: 50px;
        box-sizing: border-box;
        position: relative;

        border-radius: 40px;
        background-color: #2A2A2F;

        img {
            width: 250px;
            height: auto;

            border-radius: 20px;
            position: absolute;
            top: -100px;
            right: 100px;

        }
    }
    
}