.page-about {
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;

    .informations{
        width: 100%;
        min-height: 400px;
        margin: 75px 0;
        padding: 50px;
        box-sizing: border-box;
        position: relative;

        border-radius: 40px;
        background-color: #2A2A2F;

        img {
            width: 250px;
            height: auto;

            border-radius: 20px;
            position: absolute;
            top: -100px;
            right: 100px;

        }

        ul {
            margin: 15px 10px;

            li {
                color: white;
                font-family: Uni Neue;
                font-weight: 500;
                font-size: 1em;  
                line-height: 1.4em;

                span {
                    color: $purple;
                }
            }
        }

        p {
            width: 60%;
            margin: 10px 0;
            text-align: justify;

            &.textarea {
                font-size: 1.1em;
                line-height: 1.4em;
                margin: 30px 0
                
            }
        }
    }
    
}