.vert-menu {
    width: 300px;
    min-height: 100%;

    background: #2A2A2F;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 40px 40px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 55%;
        height: auto;
        padding: 25px 0;
        box-sizing: border-box;
    }

    ul {
        width: 280px;
        margin: 50px 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        li {
            width: 100%;
            height: 60px;
            margin: 5px 0;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition-duration: 400ms;

            a {
                width: 40%;
                height: 60px;
                margin: 0 0 0 25px;
    
                display: flex;
                justify-content: flex-start;
                align-items: center;

                font-family: Uni Neue;
                font-weight: 400;
                color: #808080;
                text-decoration: none;
                     
                transition-duration: 400ms;
            }
        }
        li:hover {

            background: #2F2F34;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
            border-radius: 15px;

            transition-duration: 400ms;
        }
        li:hover  a{
            color: white;
            
            transition-duration: 400ms;
        }

        .current_page_item a {
            color: white;
        }
        .current_page_item ::after {
            content: "";
            width: 4px;
            height: 4px;
            margin: 0 0 0 25px;
            border-radius : 6px;
            background-color: #9461E5;
        }
        .current_page_item {
            background: #2F2F34;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
        }

    }

}