.main {
    width: 100%;
    min-height: 100%;

    h2 {
        color: white;
        font-family: Uni Neue;
        font-weight: 500;
        font-size: 1.5em;
    }
    p {
        color: white;
        font-family: Uni Neue;
        font-weight: 500;
        font-size: 1em;  
    }
}
    
.bloc_item {
width: 500px;
height: 300px;

border-radius: 50px;
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

background-color: #1F1F24;

    img {
        width: 500px;
        height: 100%;  
        border-radius: 50px; 
        object-fit: cover;
        object-position: top center;
    }
}
