.main {
    width: 100%;
    min-height: 100%;

    h2 {
        height: 30px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        color: white;
        font-family: Uni Neue;
        font-weight: 500;
        font-size: 1.6em;

        img {
            height: 100%;
            width: auto;
            margin: 0 10px 0 0 ;
        }
    }
    p {
        color: white;
        font-family: Uni Neue;
        font-weight: 500;
        font-size: 1em;  
    }
}
    

