@font-face {
    font-family: 'Uni Neue Regular';
    src: url("../fonts/UniNeueRegular.woff") format(woff);
}

@font-face {
    font-family: 'Uni Neue Book';
    src: url("../fonts/UniNeueBook.woff") format(woff);
}



$regular : 'Uni Neue Regular', sans-serif;
$book : 'Uni Neue Book', sans-serif;