body {
    width: 100%;
    height: 100vh;
    padding: 0px 0px 0px 300px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;
    overflow: hidden;
    
    background-color: #242429;

    .main {
        width: 100%;
        min-height: 100%;
        padding: 50px;
        box-sizing: border-box;
        overflow-y: auto;

        .title {
            height: 30px;
            margin: 5px;
    
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
    
            img {
                height: 100%;
                width: auto;
                margin: 0 10px 0 0 ;
            }
    
            h2 {
                color: white;
                font-family: Uni Neue;
                font-weight: 500;
                font-size: 1.6em;
            }
        }
    
        p {
            color: white;
            font-family: Uni Neue;
            font-weight: 500;
            font-size: 1em;  
        }
    }
}

